{{!< default}}

<div class="col-xs-4">
    <!-- <img style="max-height: 300px" class="img-responsive img-rounded" src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xpa1/t31.0-8/10712488_10152887679989384_5322038131520593950_o.jpg"> -->
    <img class="img-thumbnail" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/1599403_10152887679109384_6394768927043402417_o.jpg">
</div>
<div class="col-xs-8 about-text">
    <center><h1>Who IS this girl?</h1></center>
    <p>
      Hey Friends :)
    </p>
    <p>
      My name’s Anagha, and I’m currently a 20 – something woman trying to figure my life out! I love adventures, giant sweaters, and the oxford comma. If elephants were puppy – sized, I would have three, and I have this crazy love for Indian food (and also, all food). 
    </p>
    <p>
      I just graduated from college with a liberal arts degree I worked for years to obtain. While I plan to go back to school next fall, I’m taking one year off to explore and adventure. I’ve got travels planned, and am currently in the process of getting my yoga teaching certification. I also have a food and frivolity blog with my friend (and the incredibly talented and dedicated creator of this blog!) <a href="sumninjacode.io">Sumedha Pramod</a>. Check us out at <a href="http://cookinginpjs.com">Cooking In PJs</a> – we’re always looking for friends to join our pajama party! 
    </p>
    <p>
      I’m on a perpetual quest to live life lovingly and robustly, and hope you’ll join me as I search and fumble my way through.
    </p>
</div>