<footer>
  <div class="row">
    <div class="col-sm-4">
      <div class="fc-header-title"><h2>Recent Posts</h2></div>
        {{!-- {{#foreach posts}}
          {{  }}
        <a href="{{url}}">{{title}}</a>
        {{/foreach}} --}}
{{!--         <% @recent_posts = Post.order("created_at DESC").limit(5) %>
        <% @recent_posts.each do |post| %>
          <%= link_to_unless_current post.title, post %><br>
        <% end %> --}}
      <br>
    </div>
    <div class="col-sm-4 text-center">
      <a class="btn-social" href="http://eepurl.com/7XLMn"><i class="ion-social-rss animated"></i></a>
      <a class="btn-social" href="https://twitter.com/ab_dearuniverse"><i class="ion-social-twitter animated"></i></a>
      <a class="btn-social" href="http://www.pinterest.com/abdearuniverse/"><i class="ion-social-pinterest animated"></i></a>
    </div>
    <div class="col-sm-4">
      <div id="calendar"></div>
    </div>
  </div>
</footer>
<div class="sumedha-footer">
  <div class="row text-center">
    <p class="copyright">
      Made with
      <span class="ion-heart"></span>
      <span>by</span>
      <a href="http://sumninjacode.io"> Sumedha Pramod</a>
      <span>&#124;</span>
      <a href='https://github.com/pramodsum/ShesGotAWill/issues'>Issues</a>
    </p>
  </div>
</div>