<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <ul>
    <li class="pure-menu-selected">
      <a href="{{@blog.url}}">Home</a>
    </li>
    <li>
      <a href="{{@blog.url}}/me">Me</a>
    </li>
  </ul>
</div>

<header class="intro" id="page-top">
  <div class="intro-body">
    <div class="splash header">
      <div class="container">
        <div class="row">
          <h1 class="splash-head">Dear Universe,</h1>
        </div>
      </div>
    </div>
  </div>
</header>
