<div class="sidebar-module sidebar-module-inset">
  <center>
    <img class="img-responsive img-circle" src="https://s3-us-west-2.amazonaws.com/dearuniverse/profile.jpeg"/>
  </center>
  <p class="sidebar-header text-center">
    <strong>Anagha Bharadwaj</strong>
  </p>
  <p>
    You like my biodata?
    <br/>
    <em>B-I-O-D-A-T-A</em>
  </p>
</div>
<div class="sidebar-module">
  <h2>Blogs I Like</h2>
  <ol class="list-unstyled">
    <li>
      <a href="http://www.aliontherunblog.com/">Ali On The Run</a>
    </li>
    <li>
      <a href="http://www.annies-eats.com/">Annie's Eats</a>
    </li>
    <li>
      <a href="http://www.blackgirldangerous.org/">Black Girl Dangerous</a>
    </li>
    <li>
      <a href="http://www.brightestbulbinthebox.com/">Brightest Bulb In the Box</a>
    </li>
    <li>
      <a href="http://fitandfeminist.wordpress.com/">Fit And Feminist</a>
    </li>
    <li>
      <a href="http://fitbottomedgirls.com/">Fit Bottomed Girls</a>
    </li>
    <li>
      <a href="http://fitfoodiefinds.com/">Fit Foodie Finds</a>
    </li>
    <li>
      <a href="http://www.foodpolitics.com/">Food Politics</a>
    </li>
    <li>
      <a href="http://fragrantvanillacake.blogspot.com/">Fragrant Vanilla Cakes</a>
    </li>
    <li>
      <a href="http://gritbybrit.com/">Grit By Brit</a>
    </li>
    <li>
      <a href="http://www.healthytippingpoint.com/">Healthy Tipping Point</a>
    </li>
    <li>
      <a href="http://www.justacoloradogal.com/">Just A Colorado Gal</a>
    </li>
    <li>
      <a href="http://www.keikolynn.com/">Keiko Lynn</a>
    </li>
    <li>
      <a href="http://www.nerdfitness.com/">Nerd Fitness</a>
    </li>
    <li>
      <a href="http://www.nomeatathlete.com/">No Meat Athlete</a>
    </li>
    <li>
      <a href="http://www.nutritionnutontherun.com/">Nutrition On The Run</a>
    </li>
    <li>
      <a href="http://runeatrepeat.com/">Run Eat Repeat</a>
    </li>
    <li>
      <a href="http://talesofakitchen.com/">Tales of a Kitchen</a>
    </li>
    <li>
      <a href="http://temerity-jane.com/">Temerity Jane</a>
    </li>
    <li>
      <a href="http://thebeeroness.com/">The Beeroness</a>
    </li>
    <li>
      <a href="http://www.thefirstmess.com/">The First MEss</a>
    </li>
    <li>
      <a href="http://www.thisrawsomeveganlife.com/">This Rawsome Vegan Life</a>
    </li>
    <li>
      <a href="http://www.50by25.com/">50 by 25</a>
    </li>
  </ol>

<!--   <h4>Archive</h4>
  <ol class="list-unstyled">
    <li>
      <a href="#">March 2014</a>
    </li>
    <li>
      <a href="#">February 2014</a>
    </li>
    <li>
      <a href="#">January 2014</a>
    </li>
    <li>
      <a href="#">December 2013</a>
    </li>
    <li>
      <a href="#">November 2013</a>
    </li>
    <li>
      <a href="#">October 2013</a>
    </li>
    <li>
      <a href="#">September 2013</a>
    </li>
    <li>
      <a href="#">August 2013</a>
    </li>
    <li>
      <a href="#">July 2013</a>
    </li>
    <li>
      <a href="#">June 2013</a>
    </li>
    <li>
      <a href="#">May 2013</a>
    </li>
    <li>
      <a href="#">April 2013</a>
    </li>
  </ol> -->
</div>
